[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Disequilibrium"]
	path = Disequilibrium
	url = https://github.com/natelatshaw/disequilibrium
